# LibCompiler is managed by Amlal, this can be owned by someone else though.

/dev/LibCompiler/ @amlel-el-mahrouss
/dev/LibC++/ @amlel-el-mahrouss
/dev/LibDebugger @amlel-el-mahrouss

# LibC++, and LibDebugger needs ownership.
