bin/ld
bin/cpp
bin/cc
bin/masm
bin/mkcdfs
bin/ccplus
bin/cpp2

bin/SourceUnitTest/*.c.pp
bin/SourceUnitTest/*.c
bin/SourceUnitTest/*.cpp.pp
bin/SourceUnitTest/*.cpp
bin/SourceUnitTest/*.cxx.pp
bin/SourceUnitTest/*.cxx
bin/SourceUnitTest/*.masm
bin/SourceUnitTest/*.h

*.cxx.pp