bin/ld
bin/mld
bin/cpp
bin/bpp
bin/cc
bin/masm
bin/64ld
bin/32ld
bin/64asm
bin/mkcdfs
bin/ccplus
bin/cppfront
bin/bccl

bin/Assembly.*

bin/SourceUnitTest/*.c.pp
bin/SourceUnitTest/*.c
bin/SourceUnitTest/*.bccl
bin/SourceUnitTest/*.bccl.pp
bin/SourceUnitTest/*.cc.pp
bin/SourceUnitTest/*.cc
bin/SourceUnitTest/*.cpp.pp
bin/SourceUnitTest/*.cpp
bin/SourceUnitTest/*.cxx.pp
bin/SourceUnitTest/*.cxx
bin/SourceUnitTest/*.masm
bin/SourceUnitTest/*.h
bin/SourceUnitTest/*.64x

*.cxx.pp