Apps/ld
Apps/mld
Apps/cpp
Apps/bpp
Apps/cc
Apps/masm
Apps/64ld
Apps/32ld
Apps/64asm
Apps/mkcdfs
Apps/ccplus
Apps/link
Apps/x86_64-ccplus
Apps/x86_64-pef-ccplus
Apps/cppfront
Apps/cc
Apps/i64asm

Apps/Assembly.*

Apps/SourceUnitTest/*.c.pp
Apps/SourceUnitTest/*.c
Apps/SourceUnitTest/*.cc
Apps/SourceUnitTest/*.cc.pp
Apps/SourceUnitTest/*.cc.pp
Apps/SourceUnitTest/*.cc
Apps/SourceUnitTest/*.cpp.pp
Apps/SourceUnitTest/*.cpp
Apps/SourceUnitTest/*.cxx.pp
Apps/SourceUnitTest/*.cxx
Apps/SourceUnitTest/*.masm
Apps/SourceUnitTest/*.h
Apps/SourceUnitTest/*.64x

*.cxx.pp